In [2]:
import pandas as pd

In [9]:
# Substracting meand and deviding by standard deviation

d = pd.DataFrame([[1,2,3], [2,3,4]], ['A', 'B'], ['X', 'Y', 'Z'])
d = d.apply(lambda a: a-a.mean(), axis=1)
d = d.apply(lambda a: a/a.std(), axis=1)
d

     X    Y    Z
A -1.0  0.0  1.0
B -1.0  0.0  1.0

In [10]:
# Converting rows in matrix

d = pd.DataFrame([[1,2,3,4], [2,3,4,5]], ['A', 'B'], ['W', 'X', 'Y', 'Z'])
d = d.values.reshape(d.shape[0],2,2)
d

array([[[1, 2],
        [3, 4]],

       [[2, 3],
        [4, 5]]])

In [55]:
# creating bins

d = pd.DataFrame([[1,2,3], [2,3,4], [4,6,5], [2,5,7]], ['A', 'B', 'C', 'D'], ['X', 'Y', 'Z'])
d

   X  Y  Z
A  1  2  3
B  2  3  4
C  4  6  5
D  2  5  7

In [56]:
d['X'] = pd.cut(d['X'], 2, labels=['p','q'])
d

   X  Y  Z
A  p  2  3
B  p  3  4
C  q  6  5
D  p  5  7

In [57]:
d = pd.get_dummies(d, columns=['X'])
d

   Y  Z  X_p  X_q
A  2  3    1    0
B  3  4    1    0
C  6  5    0    1
D  5  7    1    0

In [21]:
index = ['A', 'B', 'C', 'D']
column = ['X', 'Y', 'Z']
data = [[1,-2,3], [-2,3,-4], [3,4,-5], [4,5,-6]]

df = pd.DataFrame(data, index, column)
df

   X  Y  Z
A  1 -2  3
B -2  3 -4
C  3  4 -5
D  4  5 -6

In [22]:
df['X'] = pd.cut(df['X'], [-3,1,4])
df

         X  Y  Z
A  (-3, 1] -2  3
B  (-3, 1]  3 -4
C   (1, 4]  4 -5
D   (1, 4]  5 -6

In [23]:
df['Y'] = df['Y']==3

In [24]:
df

         X      Y  Z
A  (-3, 1]  False  3
B  (-3, 1]   True -4
C   (1, 4]  False -5
D   (1, 4]  False -6